
body{
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
  color: #000;
}
section{
  margin-bottom: 35px;
}
section p, section span{
  font-family: 'Source Sans Pro', sans-serif;
}
header{
  background: url("../images/header-bg.png") no-repeat center center;
  background-color: #000;
  background-size: cover;
}
ul li{
  list-style-type: none;
}
a{
  color: #333;
  text-decoration: none !important;
}
#section3 .container-fluid{
  margin-left: 200px;
  margin-right: 200px;
}
.navar{
  margin-bottom: 0;
}
.animate-box{
  opacity: 0;
  text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #ccd213;
}
.nopadding{
  padding-left: 0;
  padding-right: 0;
}
.section-title{
  margin: 30px 0 50px 0;
  text-align: center;
}
/*=======================TOP==================*/
.social-top span:hover{
  color: #ccd213;
}
input[type="submit" i]:active{
  border-style: none;
}
/*===================MENU=====================*/
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c8ce00;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; 
}
.metro-menu{
  background-color: #000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #c8ce00;
}
.nav-tabs {
  display: inline-block;
  border-bottom: none;
  font-weight: bold;
}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li { 
  padding: 20px 15px 15px;
  border-left: 1px solid #eee; 
}
.nav-list > li:last-child { border-right: 0; }
.nav-list > li:first-child { border-left: 0; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a {
  color: #999;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #c8ce00;
}
.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;
  width: 100%;
}
.line{
  background: url("../images/line.png") repeat-x;
  height: 10px;
}
.header-top{
  height: 65px;
  padding-top: 15px;
  color: #999;
}
.navbar{
  border: 0;
  border-radius: 0;
}
.navbar a:hover{
  color: #c8ce00;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent;
}
.menu-top{
  background: #000;
}
header .logo{
  padding-top: 8px;
}
.header-top span{
  padding-left: 10px;
}
.dropdown-menu{
  border: 0;
}
a.dropdown-toggle:hover{
  background-color: transparent;
}

/*SLIDER*/
.navbar-brand{
  margin-top: -6px;
}
#slider-top{
  background: url("../images/bg-top.png") no-repeat center center;
  height:800px;
  background-size: cover;
}

/*BICYCLE TITLE ANIMATION*/

/*=====================SECTION 1==================*/
#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-4{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #000000;
  position: absolute;
  height: 37px;
  width: 100px;
  border-radius: 4px;
  line-height: 31px;
  font-weight: 300;
  font-size: 20px;
  top: 10%;
  right: 8%;
}
#slider-control i{
  background: #000;
  color: #fff;
  padding: 7px 16px;
}
#slider-control i:hover{
  background-color: #c8ce00;
}
#slider-control{
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;

}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}
.carousel-inner .item1{
  background: url("../images/stone-gray1.png")no-repeat center bottom;
  background-color: #ececec;
  height: 450px;
  border-right: 2px solid #fff;
  padding-top: 30px;
}
.carousel-inner .item1 h3{
  padding-bottom: 45px;
}
.carousel-inner .item1:before{
  content: "";
  height: 5px;
  width: 197px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.carousel-inner .item1:hover:before{
  background-color: #c8ce00;
}
.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -33.33%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 33.33%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(33.33%, 0, 0);
    transform: translate3d(33.33%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-33.33%, 0, 0);
    transform: translate3d(-33.33%
, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.img-hover {
  display: none;
}
.img-before:hover .img-hover1{
  display: none;
}
.img-before:hover .img-hover{
  display: block !important;
}
/*=================SECTION2=================*/
div.hover-details
{
  overflow: hidden;
  position: relative;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
div.hover-details > img
{
  height: auto;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

div.hover-details:hover > img
{
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

div.hover-details .details
{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/hover-brand.png) no-repeat center rgba(200, 206, 1, 0.92);
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  cursor: pointer;
}
div.hover-details .details2{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/hover-brand.png) no-repeat center rgba(2, 2, 2, 0.62);
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  cursor: pointer;
}
div.hover-details:hover .details, div.hover-details:hover .details2
{
  opacity: 1;
}
/*==============FORM SERCH=================*/
#wrap {
  display: inline-block;
  position: relative;
  float: right;
  padding: 0;
  position: relative;
}

.navbar input[type="text"] {
  height: 50px;
  font-size: 15px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 68px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 60px;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.navbar input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

.navbar input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  /*border-bottom: 1px solid #BBB;*/
  cursor: text;
}
.navbar input[type="submit"] {
  height: 48px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  text-indent: -10000px;
  border: none;
  background: url(../images/icon-ser.png) center center no-repeat;
  position: absolute;
  top: 0;
  right: 68px;
  z-index: 2;
  cursor: pointer;
  transition: opacity .4s ease;
}

.navbar input[type="submit"]:hover {
  opacity: 0.8;
}

/*=================SECTION=================*/
#section2 .section-content .item2 img{
  margin: 0 auto
}
.item-info{
  text-align: center;
}

.fh5co-grid {
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
    position: relative;
}
.fh5co-grid:hover .image-popup {
    opacity: 1;
}
.fh5co-grid .image-popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
     transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.fh5co-grid .image-popup .prod-title {
     position: absolute; 
    top: 50%;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin-top: -25px;
}
.fh5co-grid .image-popup .prod-title h3 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
}
.fh5co-grid .image-popup .prod-title span {
    color: #fff;
}
/* ==================SECTION3=================*/
.item-info1 .item-img{
  background: url("../images/col2.jpg") no-repeat center center;
  min-height: 500px;
  background-size: cover;

}
.item-info2 .item-img{
  background: url("../images/col1.jpg") no-repeat center center;
  min-height: 500px;
  background-size: cover;
}
.item-info1 .item-text1{
  background: url("../images/stone.png")no-repeat center center;
  /*background-color: #c8ce00;*/
  min-height: 500px;
  text-align: center;
    background: rgb(14,250,184);
    background: -moz-linear-gradient(-45deg,rgb(146, 241, 85) 0%,rgb(200, 206, 0) 100%);
    background: -webkit-linear-gradient(-45deg,rgb(146, 241, 85) 0%,rgb(200, 206, 0) 100%);
    background: linear-gradient(135deg,rgb(146, 241, 85) 0%,rgb(200, 206, 0) 100%);

}
.item-info2 .item-text2{
  background: url("../images/stone-gray.png")no-repeat center center;
  background-color: #eee;
  min-height: 500px;
  text-align: center;

}
.item-info1 .item-text1 img, .item-info2 .item-text2 img{
  margin: 0 auto;
  padding-top: 50px;
}
#section3 .brand-logo li{
  height: 127px;
}
#section3 .brand-logo li img{
  display: inline-block;
}
.list-tab-content{
  text-align: center;
  margin-bottom: 40px;
}
.list-tab-content ul li{
  display: inline-block;
  padding: 0 15px;
}
.img-responsive.less-opacity{
  opacity: 0 !important;
  position: absolute;
}
/*===================SECTION4================*/
#section4{
  background: url("../images/bg-footer.jpg")no-repeat center center;
}
.blog-grid {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
    position: relative;
}
.blog-grid .date {
    width: 80px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.83);
}
.desc {
    margin-bottom: 40px;
    margin-top: 35px;
    text-align: left;
} 
.blog-grid .date span, .blog-grid .date small {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
}
#fh5co-blog-section .blog-grid .date small {
    font-size: 12px;
    letter-spacing: 2px;
}
/*=====*/

/*FOOTER*/
.info-bottom img{
  padding-bottom: 30px;
}
.footer-content{
  background: url("../images/bg-bottom.png") no-repeat center bottom;
  height: 450px;
  text-align: center;
}
.footer-bottom{
  background: #000;
  height: 40px;
  text-align: center;
}
.footer-bottom span{
  color: #ccc;
  font-size: 13px;
  line-height: 40px;
}
.info-bottom{
  text-align: center;
  padding-top: 325px;
}
.info-bottom ul li{
  display: inline-block;
  padding: 0 20px;
}
/*=====================SECTION5===================*/
.colborder1{
  position: relative;
}
.img1colon {
    max-width: 46.3%;
}
@media (min-width: 1200px){
.col-lg-6 {
    width: 50%;
}
.img1colon>img {
    width: 100%;
}
.txt1colon {
    width: 53.7%;
}
.img2colon {
    padding: 0px!important;
    margin: 0px!important;
    max-width: 46.3%;
}
.img2colon>img {
    width: 100%;
}
.featurecontant {
    width: 85%;
    height: auto;
    border: 1px solid #C59E47;
    margin-top: 7%;
    margin-right: auto;
    margin-left: auto;
}
.featurecontant>h1 {
    font-family: "OpenSans Regular";
    font-size: 19.8px;
    text-align: center;
    color: #5B5B5B;
    margin-top: 14%;
    margin-bottom: 8px;
}
.featurecontant>p {
    font-family: "OpenSans Regular";
    font-size: 11.44px;
    text-align: center;
    color: #5B5B5B;
}
.featurecontant>h2 {
    font-family: "OpenSans Regular";
    font-size: 12.41pt;
    color: #020243;
    text-align: center;
    letter-spacing: 8px;
    margin-top: 36%;
    margin-bottom: 19px;
}
.featurecontant>button {
    background: #000;
    border: 1px solid #020243;
    font-family: "OpenSans Regular";
    font-size: 19px;
    color: #fff;
    letter-spacing: 5px;
    width: 68%;
    margin-left: 17%;
    margin-bottom: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
}